body {
    background: url('../images/digimon_background.jpg') no-repeat;
    background-size:cover;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'VT323', monospace;
}

.card {
    width: 100%;
}

.hide {
    display:none;
}

.jumbotron {
    background-color: rgb(255, 254, 254, 0.7); 
    margin-top: 1em
}

.characters {
    opacity: 0.8;
}

.characters:hover {
    opacity: 1;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.75);
}